extends layout

block content
  .container
    .row
      #main.col.s12
        #id.hide= name
        h1.shadow= '{{class_name}}'
        .row
          .col.s6
            table.responsive-table.hoverable
              thead
                tr
                  th(data-field="id") 编号
                  th(data-field="sid") 学号
                  th(data-field="name") 姓名
              tbody
                tr(v-for='stu in cls.student')
                  td {{stu.id}}
                  td {{stu.sid}}
                  td {{stu.name}}
          .col.s6
            table.responsive-table.hoverable
              thead
                tr
                  th(data-field="id") 编号
                  th(data-field="x") X
                  th(data-field="y") Y
                  th(data-field="gx") GX
                  th(data-field="gy")  GY
                  th(data-field="owner") 学生
              tbody
                tr(v-for='seat in cls.seat')
                  td {{seat.id}}
                  td {{seat.x}}
                  td {{seat.y}}
                  td {{seat.gx}}
                  td {{seat.gy}}
                  td {{seat.owner.join(",")}}
  script(type="text/javascript").
      var id = $('#id').html();
      id = parseInt(id).toString();
      $.getJSON("/api?query={class(id:" + id +
          "){name,student{id,sid,name},seat{id,x,y,gx,gy,owner}}}", function (data) {
          var cls = data.data.class;
          if (!cls) return $("#main").html("<h1 class=\"shadow\">Class does not exist.</h1>");
          document.title = cls.name;
          var app = new Vue({
              el: '#main',
              data: {
                  class_name: cls.name,
                  cls: cls
              }
          });
      }).error(function (err) {
          $("#main").html(err.responseText);
      });