extends layout

block content
  .container
    .row
      #main.col.s12
        #id.hide= name
        h1.shadow(v-text="class_name")
        .row
          #t1(v-bind:class="{ 's4': show_score, 's12': !show_score }").col
            table.responsive-table.bordered.striped
              thead
                tr
                  th(data-field="sid") 学号
                  th(data-field="name") 姓名
                  th(data-field="sex") 性别
                  th(data-field="seat") 座位
              tbody
                tr(v-for='stu in cls.student', :id="'s'+stu.sid")
                  td {{stu.sid}}
                  td(@click="locate(stu.sid)") {{stu.name}}
                  td {{stu.sex}}
                  td {{stu.seat || '未定'}}
          #t2(style={'overflow-x':'scroll'}, v-show="show_score", v-bind:class="{ 's8': show_score }").col
              table.responsive-table.bordered.striped.centered#score
                  thead
                      tr
                  tbody
                      tr(v-for='stu in cls.student', :id="'sc'+stu.sid")
          .fixed-action-btn(style={right: '50px', top: '60px'})
            a.btn.red.lighten-1.waves-effect.waves-light(:href="'score/'+cid") 图表
            br
            a.btn.red.lighten-1.waves-effect.waves-light(href="#", @click="show_score = !show_score") 成绩
            br
            a.btn.red.lighten-1.waves-effect.waves-light(@click="hint") 点名
    style(type="text/css").
      .focus {
          color: blue;
          font-weight: bold;
      }
    script(type="text/javascript").
      var id = $('#id').html();
      id = parseInt(id).toString();
      function locate() {
          var focus = location.hash.replace(/[^0-9]/ig, "");
          if (focus) {
              var locateObj = $('#s' + focus);
              if (locateObj.length) {
                  $('body').animate({
                      scrollTop: locateObj.offset().top - $('.navbar-fixed').height(),
                  }, 1000);
                  locateObj.addClass('focus');
                  $('#sc' + focus).addClass('focus');
              } else {
                  setTimeout(locate, 500);
              }
          }
      }
      locate();
      $.getJSON("/api?query={class(id:" + id +
          "){name,student{sid,name,sex,seat,score},score}}", function (data) {
          var cls = data.data.class;
          if (!cls) return $("#main").html("<h1 class=\"shadow\">Class does not exist.</h1>");
          document.title = cls.name;
          var score = [];
          $.each(cls.score, function (_, data) {
              $("<th nowrap>" + data + "</th>").appendTo("#score > thead > tr");
              $("<td>{{stu.scoreObj['" + data + "'] | limited}}</td>").appendTo("#score > tbody > tr");
          });
          $.each(cls.student, function (_, data) {
              data.scoreObj = JSON.parse(data.score);
          });
          Vue.filter('limited', function (value) {
              return isNaN(value) ? value : Math.round(value);
          })
          var app = new Vue({
              el: '#main',
              data: {
                  cid: id,
                  class_name: cls.name,
                  cls: cls,
                  show_score: false,
              },
              methods: {
                  locate: function (id) {
                      console.log('hit: ' + id);
                      location.href = '#stu' + id;
                      if ($('.focus')) {
                          $('.focus').removeClass('focus');
                      }
                      locate();
                  },
                  hint: function () {
                      this.locate(1 + Math.round(this.cls.student.length * Math.random()));
                  }
              }
          });
      }).error(function (err) {
          $("#main").html(err.responseText);
      });