extends layout

block content
  .container
    .row
      .col.s12.m12.l6
        h1.shadow 座位安排表
        #list.collection.z-depth-1
          a.collection-item.waves-effect(v-for='cls in classes', :href="'/class/'+cls.id")= '{{cls.name}}'
  script(type="text/javascript").
      $.getJSON("/api?query={classes{id,name}}", function (data) {
          var app = new Vue({
              el: '#list',
              data: {
                  classes: data.data.classes
              }
          });
      });
